/* Global */

html, body {
    width : 100%;
    height : 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background: url(https://i.pinimg.com/originals/bb/0d/45/bb0d4572eae04ea2b806c6a05b0e2afa.jpg) no-repeat center center scroll;
}

#text-center{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

#text-center h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 700;
}

/* Button */

button {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}
button:hover,
button:focus,
button:active {
    color: rgba(0,0,0,0.7);
    background-color: #fff;
}



/*Header*/


.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/originals/bb/0d/45/bb0d4572eae04ea2b806c6a05b0e2afa.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

#form-block{
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    margin: auto;
}

#form-block form{
    width: 100%;
    padding: 0 20px;
}

#form-block input[type="text"]{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 250px;
    max-width: 500px;
    padding: 0 10px;
    outline: none;
    margin-bottom: 15px;
}


#form-block {
    max-width: 75%;
    max-height:100px;
    width:100%;
    height: 100%;
}

img {
    height: 240px;
    width: 240px;
}

@media screen and (max-width: 630px) {

 
    #text-center {
         margin-top: 80px;
         display: block;
         clear: both;
         margin-bottom: 90px;
    }
 
    #form-block {
     position: relative;
     clear: both;
     display: block;
     min-height: 300px;
     max-width: 100%!important;
 }
 
    h1 {
     font-size: 16px !important;
    }
 }
 